* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    --dark-bg: linear-gradient(-135deg, #000000 0%, #414141 100%);
    --light-bg: linear-gradient(-135deg, #ffffff83 0%, #eaeaea98 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}

button,
a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #000;
    cursor: pointer;

    &.underlineEffect {
        text-decoration: none;
        display: block;
        position: relative;
        padding: 0.5rem 0.3rem;
        background: transparent;
        overflow: hidden;
        border-radius: 0;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: black;
            opacity: 0;
            animation: underlineOut 0.2s ease-in-out forwards;
        }

        &:hover::after,
        &:focus::after {
            animation: underlineIn 0.2s ease-in-out forwards;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.heading {
    position: fixed;
    margin-bottom: 1rem;
    height: 8%;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.7);
    transition: all 0.3s ease-in-out;

    &.active {
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        color: white;

        button {
            transition: all 0.3s ease-in-out;
            color: white;

            &::after {
                background-color: white;
            }
        }
    }

    .companyName {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }

        font-size: 1.4rem;

        span {
            font-size: 1rem;
        }
    }

    .navButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .navButton {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    .otherNavButtons {
        display: flex;
        flex-direction: row;

        .otherNavButton {
            font-weight: 400;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &.menuEffect {
                padding: 0.5rem 0.7rem;
                border: 2px solid transparent;
                transition: all 0.2s ease-in-out;

                &:hover {
                    border: white 2px solid;
                }
            }
        }
    }
}

.container {
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
    height: 15%;
}

.menu {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.active {
        .menuClose,
        .menu-container {
            animation: fallIn 0.3s ease-in-out forwards;
        }

        .display-container {
            animation: riseIn 0.3s ease-in-out forwards;
        }
    }

    &.inactive {
        .menuClose,
        .menu-container {
            animation: riseOut 0.2s ease-in-out forwards;
        }

        .display-container {
            animation: fallOut 0.2s ease-in-out forwards;
        }

        &.hide {
            display: none;
        }
    }

    .menuClose {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 200;
        color: white;
    }

    .display-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100vh;
        width: 70%;
        background-color: rgba(86, 86, 86);
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 30%;
        height: 100vh;
        background-color: rgb(41, 41, 41);
        padding: 6rem;
        justify-content: space-around;
        font-size: 1.8rem;
        font-weight: 600;

        a {
            transition: color 0.2s ease-in-out;
            color: rgb(185, 185, 185);
            width: fit-content;

            &:hover {
                color: white;
            }

            &::after {
                background-color: white;
            }
        }

        .sub {
            font-size: 1.5rem;
            font-weight: 550;
        }
    }
}

@keyframes underlineIn {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0%, 0, 0);
    }
}

@keyframes underlineOut {
    0% {
        opacity: 1;
        transform: translate3d(0%, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fallOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes riseOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes fallIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes riseIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
